<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Maurya</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<!-- Required Modules -->
	<require_modules>
		<require_module version="0.7.8">
			org.openmrs.module.reporting
		</require_module>
		<require_module version="0.2.7">
			org.openmrs.module.serialization.xstream
		</require_module>
		<require_module version="1.0.0">
			org.openmrs.calculation
		</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DhisIntegrationActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<privilege>
		<name>Run Reports</name>
		<description>Base privilege for running the reports</description>
	</privilege>
	<privilege>
		<name>Manage Results</name>
		<description>View/Send/Delete Results</description>
	</privilege>
	<privilege>
		<name>View Server</name>
		<description>Viewing Servers</description>
	</privilege>
	<privilege>
		<name>Manage Server</name>
		<description>Add/Edit/Remove Server</description>
	</privilege>
	<privilege>
		<name>Manage DHIS Locations</name>
		<description>Add/Edit/Remove DHIS Location Mappings</description>
	</privilege>
	<privilege>
		<name>Manage Data Elements</name>
		<description>Map/Edit Data Element Mappings</description>
	</privilege>
	<privilege>
		<name>Manage Options</name>
		<description>Map/Edit Option Mappings</description>
	</privilege>
	<privilege>
		<name>Manage Report Templates</name>
		<description>Manage Editing Report Templates</description>
	</privilege>
	<privilege>
		<name>Map Cohorts</name>
		<description>Map DHIS elements to cohorts</description>
	</privilege>
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		DhisIntegration.hbm.xml
		IntegrationServer.hbm.xml
		OrgUnit.hbm.xml 
		CategoryCombo.hbm.xml
		CategoryOption.hbm.xml
		OptionSet.hbm.xml
		Option.hbm.xml
		ReportTemplate.hbm.xml
		DataElement.hbm.xml
		DataValueTemplate.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

